services:
  - type: web
    name: image-compressor
    env: node
    buildCommand: |
      apt-get update && apt-get install -y wget
      wget https://mozjpeg.codelove.de/bin/mozjpeg_4.0.3_amd64.deb
      dpkg -i mozjpeg_4.0.3_amd64.deb
      npm install
    startCommand: node server.js
    plan: free
    envVars:
      - key: NODE_VERSION
        value: 14
    regions:
      - oregon